main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 10px;
    background-color:salmon ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 10px;
}