main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 10px;
    color: white;
    background-color: #1A3C40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 10px;
}